@model Author

<h3 class="row mt-6 authorheader">Автор</h3>
<div class="row mb-5">
    <form asp-action="Index" method="post">
        <div class="form-group">
            <label asp-for="name">Имя</label>
            <input asp-for="name" class="form-control" />
            <span asp-validation-for="name" class="text-danger"></span>
        </div>
        <input class="btn btn-success" type="submit" value="Добавить" />
    </form>
</div>